/* Default styles for all screen sizes */
body {
  background-color: rgb(222, 233, 229);
}

#exp1, #exp2, #exp3 {
  border: 2px solid rgb(247, 243, 240);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  #exp1, #exp2, #exp3 {
      padding: 20px; /* Reduce padding on smaller screens */
  }
}

/* Media query for screens with a minimum width of 1200px */
@media (min-width: 1200px) {
  #exp1 {
      background-color: rgba(81, 125, 206, 0.808); /* Change background color */
  }

  #exp2 {
      background-color: rgba(81, 125, 206, 0.808); /* Change background color */
  }

  #exp3 {
      background-color: rgba(81, 125, 206, 0.808); /* Change background color */
  }
}

#ss {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#ss img {
  height: 400px;
  width: 190px;
  border: 3px solid #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#ss img:hover {
  transform: scale(1.1);
}

/* Styles for the lightbox */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.lightbox {
  background: #fff;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  position: relative;
}

.lightbox img {
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
