body{
    background-color: rgb(202, 231, 236);
}
.navbar {
    background-color: #c96819; 
    overflow: hidden; 
}
.navbar a {
    float: left; 
    display: block; 
    color: white;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

.navbar a:hover {
    background-color: #ddd; 
    color: black;
}
.container {
    display: flex; 
    align-items: center; 
}

.text {
    flex: 1; 
    padding: 20px; 
}

.image {
    
    padding-top: 100px;
    padding: 100;
}
